*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 90vw;
  height: max-content;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.1rem 0.1rem 10px rgb(108, 108, 108);
}

.material-symbols-outlined {
  cursor: pointer;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

input {
  border: transparent;
  outline-width: 0;
  font-size: 1.5rem;
  font-style: italic;
}

input::placeholder {
  color: rgb(198, 198, 198);
}

.to-do__item {
  justify-content: stretch;
  gap: 0.7rem;
}

.to-do__item .to-do__item-icons {
  margin-left: auto;
}

.border-bottom {
  border-bottom: 1px solid rgb(185, 185, 185);
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

footer:hover {
  background-color: rgb(199, 199, 199);
}

footer:active {
  font-size: 1.4rem;
}
