*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.rotate {
  transition: transform 2s ease-in-out;
  transform: rotate(360deg);
  color: red;
}

body {
  width: 90vw;
  max-width: 500px;
  height: max-content;
  max-height: 90vh;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.05rem 0.05rem 5px rgb(108, 108, 108);
  border-radius: 5px;
}

.material-symbols-outlined {
  cursor: pointer;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  gap: 0.7rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.to-do__add {
  justify-content: space-between;
}

.to-do__input {
  border: transparent;
  outline-width: 0;
  font-size: 1rem;
  font-style: italic;
  width: 65vw;
}

main {
  overflow-y: scroll;
  height: max-content;
  max-height: 57vh;
}

button {
  border: transparent;
  background-color: transparent;
}

input::placeholder {
  color: rgb(198, 198, 198);
  transition: all 2s ease-in-out;
}

.inputError::placeholder {
  color: rgb(241, 30, 30);
  font-size: large;
}

.to-do__task .to-do__item-icons {
  margin-left: auto;
}

.border-bottom {
  border-bottom: 1px solid rgb(185, 185, 185);
}

.hide {
  visibility: hidden;
  position: absolute;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

footer:hover {
  background-color: rgb(199, 199, 199);
}

footer:active {
  font-size: 1.4rem;
}
